<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Skeleton application demoing Heroku and Flask integration.">
    <meta name="author" content="@gotoariel">
    <!-- <link rel="icon" href="favicon.ico"> -->

    <title>Welcome to my app</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-left">

          <h2>App Introduction</h2>
          <p>
How to predict stock prices? This is the question that frequently asked by all investors.
While the long-run market price equilibrium is determined by both demand and supply conditions,
the short-run fluctuations of the price are reflections of the market confidence and expectations toward this stock.
 If we capture these reflections, then we have better chance to predict the price.
  In my project, I am using the news to capture those reflections by conducting news sentiment analysis, and building a machine learning model.
          </p>
          <p>
            This app is a machine learning model that will predict the likelihood of crude oil futures price increase.
  This model will use daily news to capture the market confidence and expectations towards crude oil futures.
  By conducting a news sentiment analysis, this app will deliver a prediction for any news article for how likely
  a price increase will follow this news article. Try this model today and become a millionaire tomorrow.
</p>

<h2>Author Introduction</h2>
<p>
My name is Zijing Zhu. I am graduating as a Ph.D. in Economics from UC Santa Cruz this summer.
My research focus is in international finance and labor market. Throughout this program,
I have gained tremendous experience in conducting statistical analysis and constructing models to explain stylized facts in economics.
The more experience I gathered working on my projects,
the more I realize that data availability is as important as the skills I have and the tools I use,
in terms of generating valuable results. That’s the reason why I am looking for opportunities to apply my skills in
 solving real-world problems and bring in business values.
</p>
<p>If you are interested in other projects I have done, you can take a look at my <a href="https://github.com/zijing0926">Github</a>. You can
also find me here in <a href="https://www.linkedin.com/in/zijing-zhu-6587aa125/">Linkedin</a>.</p>


        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
